{{- $needsNeovim := .develop -}}
{{- if hasKey . "needs_neovim" }}{{- $needsNeovim = .needs_neovim }}{{- end }}
{{- $buildHelixFromSource := false -}}
{{- if hasKey . "build_helix_from_source" }}{{- $buildHelixFromSource = .build_helix_from_source }}{{- end }}

[settings]
experimental = true
install_before = "7d"
ruby.compile = false

[tools]

{{- if .needs_opencode }}
opencode = "1.4.3"
{{- end }}

starship = "latest"
[tools."github:Automattic/harper"]
version = "latest"
asset_pattern = "harper-ls-"
bin = "harper-ls"

{{- if $needsNeovim }}
neovim = "latest"
tree-sitter="latest"

{{- end }}

{{- if .develop }}
bun = "latest"
go = "latest"
ruby = "latest"
node = "lts"
rust = "stable"
shfmt = "latest"
yq = "latest"
"github:max-sixty/worktrunk" = { version = "latest", bin = "wt" }
"github:dprint/dprint" = "latest"
"github:sxyazi/yazi" = "latest"
helm-ls = "latest"
"go:golang.org/x/tools/gopls" = "latest"
"go:mvdan.cc/gofumpt" = "latest"
"go:github.com/go-delve/delve/cmd/dlv" = "latest"
"github:thomasschafer/scooter" = "latest"
"github:dandavison/delta" = "latest"
"github:jesseduffield/lazygit" = "latest"
"github:zellij-org/zellij" = "latest"
"github:golangci/golangci-lint" = "latest"
"gem:ruby-lsp" = { version = "latest", depends = ["ruby"] }
"gem:rufo" = { version = "latest", depends = ["ruby"] }
"npm:@olrtg/emmet-language-server" = { version = "latest", bin = "emmet-ls" }
"npm:prettier" = "latest"
"npm:yaml-language-server" = "latest"
"npm:bash-language-server" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:dockerfile-language-server-nodejs" = "latest"
"npm:@microsoft/compose-language-service" = "latest"

java = "latest"
"github:scalameta/scalafmt" = "latest"
[tools."github:coursier/coursier"]
  version = "latest"
  asset_pattern = "coursier"
  bin = "cs"
{{- end }}
