{{- $needsNeovim := .develop -}}
{{- if hasKey . "needs_neovim" }}{{- $needsNeovim = .needs_neovim }}{{- end }}

[settings]
experimental = true
install_before = "7d"
ruby.compile = false

[tools]

{{- if .needs_opencode }}
opencode = "latest"
{{- end }}

starship = "latest"
{{- if $needsNeovim }}
neovim = "latest"
{{- end }}

{{- if .develop }}
bun = "latest"
go = "latest"
node = "lts"
shfmt = "latest"
yq = "latest"
"github:max-sixty/worktrunk" = { version = "latest", bin = "wt" }
helm-ls = "latest"
"go:golang.org/x/tools/gopls" = "latest"
"npm:yaml-language-server" = "latest"
"npm:bash-language-server" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:dockerfile-language-server-nodejs" = "latest"
"npm:@microsoft/compose-language-service" = "latest"

java = "latest"
"github:scalameta/scalafmt" = "latest"
[tools."github:coursier/coursier"]
  version = "latest"
  asset_pattern = "coursier"
  bin = "cs"
{{- end }}
