{{- if eq .target "host" }}
format = "$directory$git_branch$git_status$line_break$character"
{{- else }}
format = "[VM](bold black bg:yellow)$directory$git_branch$git_status$line_break$character"
{{- end }}

[character]
{{- if eq .target "host" }}
 success_symbol = "[>](bold green)"
 error_symbol = "[>](bold red)"
{{- else }}
 success_symbol = "[{{ .target }}>](bold yellow)"
 error_symbol = "[{{ .target }}!](bold red)"
{{- end }}
