theme = "catppuccin_mocha_black"

[editor]
{{- if eq .chezmoi.os "darwin" }}
clipboard-provider = "pasteboard"
{{- end }}
default-yank-register = "+"
auto-info = false
end-of-line-diagnostics = "warning"
color-modes = true
trim-trailing-whitespace = true
popup-border = "all"
true-color = true
line-number = "relative"

[editor.lsp]
auto-signature-help = false

[editor.cursor-shape]
normal = 'block'
insert = 'bar'
select = 'underline'

[editor.inline-diagnostics]
cursor-line = "disable"
other-lines = "disable"

[editor.statusline]
left = [
  "mode",
  "spinner",
  "file-name",
  "read-only-indicator",
  "file-modification-indicator",
]
right = [
  "diagnostics",
  "workspace-diagnostics",
  "version-control",
  "position",
  "total-line-numbers",
  "file-type",
]

[editor.statusline.mode]
normal = "🅝"
insert = "🅘"
select = "🅢"

[keys.normal]
C-s = [":w"]
"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"
"*" = [
  "move_prev_word_start",
  "move_next_word_end",
  "search_selection",
]
D = ["ensure_selections_forward", "extend_to_line_end", "delete_selection"]
C-e = [
  ":sh rm -f /tmp/hx-yazi-chooser",
  ":insert-output yazi \"%{buffer_name}\" --chooser-file=/tmp/hx-yazi-chooser >/dev/tty",
  ":redraw",
  ":open %sh{cat /tmp/hx-yazi-chooser 2>/dev/null || echo ''}",
  ":reload-all",
]
C-r = [
  ":write-all",
  ":insert-output scooter --no-stdin >/dev/tty",
  ":redraw",
  ":reload-all",
]
C-g = [
  ":new",
  ":insert-output lazygit >/dev/tty",
  ":set mouse false",
  ":set mouse true",
  ":buffer-close!",
  ":redraw",
  ":reload-all",
]

[keys.select]
"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"

[keys.normal.space]
"*" = [
  "move_prev_word_start",
  "move_next_word_end",
  "search_selection",
  "global_search",
]
