{{- $host := not .develop -}}
{{- $work := ne .work_username "" -}}
{{- $needsNeovim := .develop -}}
{{- if hasKey . "needs_neovim" }}{{- $needsNeovim = .needs_neovim }}{{- end }}
{{- if not $host }}
.local/bin/,dev
.local/bin/,create-vm
.local/bin/,sync-jfrog-to-vm
.config/ghostty
.config/ghostty/**
.config/wezterm
.config/wezterm/**
.config/zsh/rc.d/05_homebrew
.config/zsh/rc.d/10_java
{{- end }}
{{- if $host }}
.ssh/config
.npmrc
.yarnrc
.yarnrc.yml
{{- end }}
{{- if not $work }}
.config/zsh/rc.d/05_homebrew
.config/zsh/rc.d/10_java
.config/zsh/rc.d/20_jfrog
{{- end }}
{{- if not .needs_opencode }}
.config/opencode
.config/opencode/**
{{- end }}
{{- if not $needsNeovim }}
.config/zsh/rc.d/30_nvim
{{- end }}
