{{- /* develop=yes means this is the Linux dev VM. On macOS hosts always answer no. */ -}}
{{- $developDefault := "no" -}}
{{- if ne .chezmoi.os "darwin" -}}{{- $developDefault = "yes" -}}{{- end -}}
{{- $developAnswer := promptStringOnce . "develop" "Is this the Linux dev VM? (macOS host: no, Ubuntu VM: yes)" $developDefault | trim | lower -}}
{{- $needsTaskwarriorAnswer := promptStringOnce . "needs_taskwarrior" "Should Taskwarrior be installed on this machine" "no" | trim | lower -}}
{{- $develop := or (eq $developAnswer "y") (eq $developAnswer "yes") (eq $developAnswer "true") (eq $developAnswer "1") -}}
{{- $needsTaskwarrior := or (eq $needsTaskwarriorAnswer "y") (eq $needsTaskwarriorAnswer "yes") (eq $needsTaskwarriorAnswer "true") (eq $needsTaskwarriorAnswer "1") -}}
[data]
develop = {{ $develop }}
needs_taskwarrior = {{ $needsTaskwarrior }}
name = {{ promptStringOnce . "name" "Git author name" | quote }}
email = {{ promptStringOnce . "email" "Git author email" | quote }}
github_username = {{ promptStringOnce . "github_username" "GitHub username" | quote }}

[warnings]
configFileTemplateHasChanged = false
