{{- $host := not .develop -}}
{{- $darwin := eq .chezmoi.os "darwin" -}}
{{- $needsTaskwarrior := false -}}
{{- if hasKey . "needs_taskwarrior" }}{{- $needsTaskwarrior = .needs_taskwarrior }}{{- end }}

{{- if not $host }}
.local/bin/,dev
.local/bin/,create-vm
.local/bin/,sync-jfrog-to-vm
.local/bin/,verify
.local/bin/,vm-cp
.local/bin/,vm-ip
.local/bin/,vm-open
.local/bin/,vm-rsync
.config/wezterm
.config/wezterm/**
.config/zsh/rc.d/05_homebrew
.nbrc
Desktop
Desktop/**
{{- end }}

{{- if $host }}
.npmrc
.yarnrc
.yarnrc.yml
{{- end }}

{{- if not $darwin }}
.config/zsh/rc.d/05_homebrew
Library/Application Support/lazygit/config.yml
{{- end }}

{{- if not $needsTaskwarrior }}
.taskrc
.taskrc.d
.taskrc.d/**
.local/bin/,task-popup
{{- end }}
