{{- $host := not .develop -}}
{{- $work := ne .work_username "" -}}
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
{{- if and $host $work }}
	signingkey = ~/.ssh/id_rsa.pub
{{- else if not $host }}
	signingkey = ~/.ssh/id_ed25519.pub
{{- end }}

[alias]
	ci = commit
	st = status
	co = checkout
	br = branch

[push]
	default = current
	autoSetupRemote = true

[core]
	excludesfile = ~/.gitignore
	editor = nvim

{{- if and $host $work }}
[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[credential]
	helper = osxkeychain

{{- else if not $host }}
[commit]
	gpgsign = true

[gpg]
	format = ssh

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@source.xing.com:"]
	insteadOf = https://source.xing.com/

{{- end }}

{{- if $work }}
[credential "https://source.xing.com"]
	username = {{ .work_username | quote }}
{{- end }}

{{- if ne .github_username "" }}
[github "source.xing.com"]
	user = {{ .github_username | quote }}

[github "api.source.xing.com"]
	user = {{ .github_username | quote }}

[github]
	user = {{ .github_username | quote }}
{{- end }}

[init]
	defaultBranch = main

[pull]
	rebase = false
