// ~/.config/zellij/layouts/dev.kdl

layout {
    pane size=1 borderless=true {
        plugin location="compact-bar"
    }

    pane split_direction="vertical" {
        pane name="nvim" command="nvim" size="70%" focus=true
        pane name="shell" size="30%"
    }
}
