{{- $host := not .develop -}}
if [[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/home-sweet-home/jfrog-oidc.env" ]]; then
	source "${XDG_CONFIG_HOME:-$HOME/.config}/home-sweet-home/jfrog-oidc.env"
fi

{{- if $host }}
,jfrog_oidc_env() {
	echo "Exporting jfrog credentials from 1Password"
	export JFROG_OIDC_USER="$(op read "op://Private/JFROG_OIDC/username")"
	export JFROG_OIDC_TOKEN="$(op read "op://Private/JFROG_OIDC/password")"

	echo "Set JFROG_OIDC_USER and JFROG_OIDC_TOKEN"
}
{{- else }}
,jfrog_oidc_status() {
	if [[ -n "${JFROG_OIDC_USER:-}" && -n "${JFROG_OIDC_TOKEN:-}" ]]; then
		echo "JFrog OIDC environment is loaded"
	else
		echo "JFrog OIDC environment is not loaded"
	fi
}
{{- end }}
